onboarding.json
{
  "name": "onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "oreh-onboarding",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        -48
      ],
      "id": "5304c443-d064-4fc4-b835-854c6539184b",
      "name": "Webhook",
      "webhookId": "fb3ed8dd-2fd4-435e-92b2-12c0d79a514e"
    },
    {
      "parameters": {
        "instanceName": "={{ $json.body.company_id }}",
        "token": "429683C4C977415CAAFCCE10F7D57E11",
        "number": "={{ $json.body.telefone }}",
        "options_Create_instance": {
          "instanceSettings": {
            "settings": {
              "groupsIgnore": true
            }
          },
          "webhook": {
            "webhookSettings": {
              "webhookUrl": "https://oreh-n8n.p7rc7g.easypanel.host/webhook/oreh-ia",
              "webhookBase64": true,
              "webhookEvents": [
                "MESSAGES_SET",
                "MESSAGES_UPSERT"
              ]
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -80,
        -48
      ],
      "id": "06431a42-45d7-4bb5-9a36-051397098cfe",
      "name": "Criar instancia",
      "credentials": {
        "evolutionApi": {
          "id": "IE9ubFkk1a8AUZWC",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "company_secrets",
          "mode": "list",
          "cachedResultName": "company_secrets"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_ai_active": false,
            "ai_tone_adaptability": false,
            "company_id": "={{ $('Webhook').item.json.body.company_id }}",
            "evolution_api_url": "https://oreh-evolution-api.gggzhe.easypanel.host/",
            "evolution_api_key": "429683C4C977415CAAFCCE10F7D57E11",
            "evolution_instance_name": "={{ $json.data.instance.instanceName }}",
            "evolution_number": "={{ $('Webhook').item.json.body.telefone }}"
          },
          "matchingColumns": [
            "company_id"
          ],
          "schema": [
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "evolution_api_url",
              "displayName": "evolution_api_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "evolution_api_key",
              "displayName": "evolution_api_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "base_prompt",
              "displayName": "base_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "evolution_instance_name",
              "displayName": "evolution_instance_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_ai_active",
              "displayName": "is_ai_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_personality_style",
              "displayName": "ai_personality_style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_dominant_traits",
              "displayName": "ai_dominant_traits",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_tone_formality",
              "displayName": "ai_tone_formality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_tone_adaptability",
              "displayName": "ai_tone_adaptability",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_language_complexity",
              "displayName": "ai_language_complexity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_agent_function",
              "displayName": "ai_agent_function",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "evolution_number",
              "displayName": "evolution_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        128,
        -48
      ],
      "id": "cb409573-5e0c-4b48-9e09-cd54c2164eac",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "OI4L03aWJ1n7R7pf",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "200",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        352,
        -48
      ],
      "id": "30dced1d-a5df-4f11-acf3-018b906c6da0",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "oreh-n8n.p7rc7g.easypanel.host",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36",
            "content-length": "80",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "http://127.0.0.1:3000",
            "priority": "u=1, i",
            "referer": "http://127.0.0.1:3000/",
            "sec-ch-ua": "\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "187.10.167.176",
            "x-forwarded-host": "oreh-n8n.p7rc7g.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "1e62f334fd7d",
            "x-real-ip": "187.10.167.176"
          },
          "params": {},
          "query": {},
          "body": {
            "telefone": "5517996047456",
            "company_id": "1c43e6df-aec0-45cb-83f3-00f585fd65c5"
          },
          "webhookUrl": "https://oreh-n8n.p7rc7g.easypanel.host/webhook/oreh-onboarding",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Criar instancia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar instancia": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7cf2d2df-26be-42c8-a100-ec3d0be8034d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1128babbae6f10858c40bce82555c777a1061ae74d2b98e3b28bcfb267c345e1"
  },
  "id": "ypG4J5ndc8OJf0es",
  "tags": []
}